<p>Hallo <%= @resource.email %>!</p>

<p>Sie haben eine Anfrage getätigt um Ihr Passwort zu ändern. Dies können Sie mit dem unten stehendem Link machen.</p>

<p><%= link_to 'Mein Passwort ändern'<p>Hallo <%= @resource.email %>!</p>

<p>Sie haben eine Anfrage getätigt um Ihr Passwort zu ändern. Dies können Sie mit dem unten stehendem Link machen.</p>

<p><%= link_to 'Mein Passwort ändern', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Wenn sie Ihr Passwort nicht ändern möchten, können Sie diese E-Mail ignorieren.</p>
<p>Ihr Passwort wird nicht geändert, falls sie dem Link nicht folgen und es ändern.</p>
